body {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

@media (max-width: 425px) {
  .hideOnMobile {
    display: none;
  }
}

@media (min-width: 426px) {
  .hideOnDesktop {
    display: none;
  }
}