@import "tailwindcss";

body {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.publisher-logo {
  height: 33px;
  width: auto;
}

@media (max-width: 425px) {
  .center-on-mobile {
    text-align: center !important;
  }
}
